@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #464545;
}

.container {
    background: rgb(80, 80, 80);
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 320px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.container>h1 {
    color: white;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-group input,
.input-group button {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
}


ul {
    padding-left: 0;
    list-style: none;
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}

li {
    padding: 0.5rem;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin-left: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
}